* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Nunito, sans-serif;
    transition: 0.3s;
    --primary: 233, 88, 65;
    --primary-hover: 216, 71, 48;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

.horizontal_spacing {
    padding-left: 150px;
    padding-right: 150px;

    @media (max-width: 768px) {
        padding-left: 75px;
        padding-right: 75px;
    }

    @media (max-width: 600px) {
        padding-left: 35px;
        padding-right: 35px;
    }

    @media (max-width: 425px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.sub_heading {
    font-size: 16px;
    color: #e95841;
    margin-bottom: 5px;
    text-transform: capitalize;

    @media (max-width:1000px) {
        display: flex;
        justify-content: center;
    }
}

.heading {
    font-size: 55px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width:1000px) {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 768px) {
        margin-bottom: 15px;
    }

    @media (max-width: 375px) {
        font-size: 45px;
    }


    span {
        font-weight: lighter;
    }
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    background-color: white;

    /* Left part */
    .logo_link {
        background-color: transparent;

        .logo {
            width: 50px;
            background-color: transparent;
        }
    }

    /* Right part  */
    .menu_container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;

        /* Navbar menu  */
        .navbar_menu {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            background-color: transparent;

            &:hover {
                background-color: rgb(var(--primary));

                .menu,
                .plus {
                    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(238deg) brightness(99%) contrast(104%);
                }
            }

            .menu {
                width: 16px;
                background-color: transparent;
            }
        }

        /* Navbar menu dropdown  */
        .menu_dropdown {
            background-color: black;
            width: 100%;
            height: 95dvh;
            position: absolute;
            top: 75px;
            left: 0px;
            text-align: center;
            z-index: -1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;

            .item {
                list-style: none;
                background-color: transparent;
                z-index: 1;
                width: 100%;
                padding: 25px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }

                a {
                    text-decoration: none;
                    background-color: transparent;
                    color: rgb(193, 193, 193);
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            .item1 {
                background-color: black;
                position: absolute;
                z-index: 0;
                color: rgba(255, 255, 255, 0.1);
                font-size: 200px;
                list-style: none;
                font-weight: bolder;
                text-align: center;
            }

            /* Menu item hover effect  */
            .item2,
            .item3,
            .item4,
            .item5,
            .item6,
            .item7 {
                display: none;
                font-size: 100px;

                @media (max-width:525px) {
                    font-size: 50px;
                }
            }

            .menu_text {
                font-size: 20vw;
            }

            .about_me:hover {
                ~.item1 {
                    display: none !important;
                }

                ~.item2 {
                    display: block !important;
                }
            }

            .ux_design:hover {
                ~.item1 {
                    display: none !important;
                }

                ~.item3 {
                    display: block !important;
                }
            }

            .data_visualization:hover {
                ~.item1 {
                    display: none !important;
                }

                ~.item4 {
                    display: block !important;
                }
            }

            .front_dev:hover {

                ~.item1 {
                    display: none !important;
                }

                ~.item5 {
                    display: block !important;
                }
            }

            .creation_process:hover {
                ~.item1 {
                    display: none !important;
                }

                ~.item6 {
                    display: block !important;
                }
            }

            .contact_me:hover {
                ~.item1 {
                    display: none !important;
                }

                ~.item7 {
                    display: block !important;
                }
            }
        }
    }

    #menu {
        display: none;
    }

    .plus {
        width: 16px;
        rotate: 45deg;
        cursor: pointer;
        display: none;
        background-color: transparent;
    }
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 50px;

    @media (max-width: 1000px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 30px;
    }

    @media (max-width: 425px) {
        padding-bottom: 70px;
    }

    /* Left part  */
    .left_part {
        width: 50%;

        @media (max-width: 1000px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            font-size: 55px;
            line-height: 65px;
            font-weight: 400;
            margin-bottom: 10px;
            letter-spacing: 7.5px;

            @media (max-width:1000px) {
                text-align: center;
            }
        }

        .sub_title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .horizontal_line {
            width: 75px;
            height: 5px;
            background-color: rgb(var(--primary));
            margin-bottom: 30px;
            border: none;
        }

        .text {
            font-size: 18px;
        }

        .text_1 {
            font-size: 18px;
            margin-bottom: 30px;
            margin-top: 7.5px;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            @media (max-width: 434px) {
                flex-direction: column;
                width: 100%;
            }

            .button {
                background-color: rgb(var(--primary));
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 35px;
                font-size: 14px;
                line-height: 26px;
                color: white;
                border: none;
                cursor: pointer;
                text-wrap: nowrap;
                text-decoration: none;

                &:hover {
                    background-color: rgb(var(--primary-hover));
                }
            }

            .secondaryButton {
                color: rgb(var(--primary));
                background-color: rgba(var(--primary), 0.05);

                &:hover {
                    color: white;
                }
            }
        }
    }

    /* Right part    */
    .right_part {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1000px) {
            width: 100%;
        }

        .userImageContainer {
            position: relative;

            .polygon {
                width: 400px;
                height: 350px;
                background-image: url(images/p.jpeg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                -webkit-mask-image: url(images/Shadow.png);
                mask-image: url(images/Shadow.png);
                mask-size: 350px;
                mask-repeat: no-repeat;
                mask-position: center;
                -webkit-mask-repeat: no-repeat;

                @media (max-width: 391px) {
                    width: 300px;
                    height: 250px;
                    mask-size: 250px;
                }
            }
        }

        .links {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            gap: 13px;
            width: 168px;

            .contact_link {
                width: 26.03px;
                height: 26.03px;
                filter: invert(56%) sepia(10%) saturate(5%) hue-rotate(95deg) brightness(88%) contrast(88%);
                background-color: transparent;

                &:hover {
                    transform: scale(1.1);
                    filter: invert(13%) sepia(44%) saturate(7490%) hue-rotate(18deg) brightness(108%) contrast(114%);
                }
            }
        }
    }
}

/* Skills part  */
.skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    @media (max-width:1000px) {
        gap: 50px;
        margin-bottom: 50px;
    }

    /* UX design and FrontDev skills  */
    .part_1,
    .part_3 {
        display: flex;
        align-items: stretch;

        @media (max-width: 1000px) {
            flex-direction: column-reverse;
        }

        /* Left part  */
        .left_part {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;
            padding-right: 50px;

            @media (max-width: 1000px) {
                width: 100%;
                padding-top: 20px;
                padding-right: 0px;
                align-items: center;
            }

            .text {
                font-size: 18px;
                line-height: 30px;

                @media (max-width:1000px) {
                    text-align: center;
                }
            }
        }

        /* Right part  */
        .right_part {
            width: 50%;

            @media (max-width: 1000px) {
                width: 100%;
            }

            .image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    /* Data visualization skill */
    .part_2 {
        display: flex;
        align-items: stretch;

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        /* Left part  */
        .left_part {
            width: 50%;
            display: flex;
            flex-direction: column;

            @media (max-width: 1000px) {
                width: 100%;
            }

            .image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right;
            }
        }

        /* Right part  */
        .right_part {
            width: 50%;
            padding: 50px 0;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 1000px) {
                width: 100%;
                padding-top: 20px;
                padding-left: 0px;
                align-items: center;
            }

            .text {
                font-size: 18px;
                line-height: 30px;

                @media (max-width:1000px) {
                    text-align: center;
                }
            }
        }
    }
}

/* Cards section  */
.part_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 135px;

    @media (max-width: 768px) {
        margin-bottom: 100px;
    }

    /* Cards container  */
    .cards {
        display: grid;
        grid-template-areas: "area1 area2 area3";
        gap: 15px;

        &:hover .card:not(:hover) {
            filter: blur(1.4px);
            opacity: 0.4;
            transform: scale(0.95);
        }

        @media (max-width: 1230px) {
            grid-template-areas: "area1 area2";
        }

        @media (max-width: 914px) {
            grid-template-areas: "area1";
        }

        /* Cards  */
        .card {
            list-style: none;
            padding: 35px;
            box-shadow: 0px 14px 40px #00000014;
            border-radius: 10px;
            min-width: 270px;

            &:hover {
                transform: scale(1.05);
            }

            .title_bar {
                font-size: 26px;
                display: flex;
                gap: 15px;
                align-items: center;
                margin-bottom: 25px;
                border: none;

                .number {
                    color: #e95841;
                    border: none;
                }

                .title {
                    font-size: 26px;
                    margin: 0px;
                    border: none;
                }
            }

            .text {
                line-height: 27px;
                border: none;
            }
        }
    }
}

/* Contact me section  */
.part_6 {
    display: flex;
    gap: 50px;
    margin-bottom: 90px;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        margin-bottom: 50px;
    }

    /* Left part  */
    .left_part {
        width: 50%;

        @media (max-width: 1000px) {
            width: 100%;
        }

        .text {
            line-height: 30px;

            @media (max-width:1000px) {
                text-align: center;

            }
        }
    }

    /* Right part */
    .right_part {
        width: 50%;
        font-family: Nunito;

        /* Form  */
        form {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (max-width: 1000px) {
                width: 100%;
            }

            /* Name, email and project detail  */
            .sub_title1 {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .name {
                    height: 55px;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    background-color: #ffffff;
                    font-size: 18px;
                    padding: 0 25px;
                }
            }

            /* Help and priority  */
            .help_container {
                display: flex;
                gap: 25px 15px;

                @media (max-width: 455px) {
                    flex-direction: column;
                }

                .help {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    @media (max-width: 455px) {
                        width: 100%;
                    }

                    #help {
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: #ffffff;
                        border: none;
                        padding: 0 20px;
                        outline: none;
                        font-size: 18px;
                        line-height: 30px;
                        padding: 15px 25px;
                        background-image: url('images/arrow.svg');
                        background-repeat: no-repeat, repeat;
                        background-position: right .7em top 50%, 0 0;
                        background-size: 1em auto, 100%;
                        border-radius: 5px;
                    }
                }
            }

            .priority {
                width: 50%;
            }
        }
    }

    /* Project detail different style  */
    .sub_title2 {
        #name_1 {
            resize: none;
            height: auto;
            padding: 15px 25px;
        }
    }

    .button {
        background-color: rgb(var(--primary));
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 35px;
        font-size: 14px;
        line-height: 26px;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(var(--primary-hover));
        }

        @media (max-width: 425px) {
            width: 100%;
        }
    }
}

/* Footer  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
    gap: 40px;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }

    /* Left part  */
    .left_part {
        background-color: transparent;

        .logo_container {
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: transparent;

            @media (max-width:1000px) {
                justify-content: center;
                flex-direction: column;
            }

            .logo {
                width: 75px;
                height: 75px;
                background-color: transparent;
            }

            .text {
                background-color: transparent;
                display: flex;
                flex-direction: column;

                @media (max-width:1000px) {
                    align-items: center;
                }

                .title {
                    font-size: 38px;
                    background-color: transparent;
                    display: flex;

                    @media (max-width:1000px) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    span {
                        font-weight: lighter;
                        background-color: transparent;
                    }
                }

                .sub_title {
                    font-size: 14px;
                    font-weight: 400;
                    background-color: transparent;

                    @media (max-width:499px) {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

    }

    /* Right part  */
    .right_part {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #ffffff;

        @media (max-width: 1000px) {
            align-items: center;
        }

        @media (max-width: 768px) {
            gap: 20px;
        }

        .links {
            display: flex;
            gap: 20px;
            background-color: transparent;

            .link {
                list-style: none;
                background-color: transparent;

                .contact_link {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;

                    &:hover {
                        transform: scale(1.1);
                        filter: invert(13%) sepia(44%) saturate(7490%) hue-rotate(18deg) brightness(108%) contrast(114%);
                    }
                }
            }
        }
    }
}